*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
   background-image: url(img/sfondo3.jpg);
   background-size: cover;
   background-repeat: no-repeat;
 }

/* regole generali */
 .after::after{
   content: '';
   display: table;
   clear:both;
 }

 .float{
   float: left;
 }

 .border{
   border-radius: 20px;
 }
/* fine regole generali */

/* inizio css per conteiner */
.conteiner{
  width: 1000px;
  padding: 10px;
  margin: auto;
}

/* css per testa */
.headertop{
  height: 360px;
  background-image: url(img/sfondo1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 10px solid white;
  position: relative;
  text-align: center;
}

.imgelogo{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.headertop img{
  width: 50%;
}

.headertop h2{
  color: white;
  text-transform: uppercase;
}


.linksuperiore{
  height: 50px;
  text-align: center;
  background-color: grey;
  margin-bottom: 10px;
  line-height: 44px;
}

.asuperiori{
  color: white;
  margin-right: 10px;
  padding: 10px;
}

.asuperiori:hover{
  background-color: lightgrey;
}
/* fine css testa */

/* css corpo */
main{
  height: 1000px  ;
}

/* css aside sinistra */
.sinistra{
  width: 20%;
  padding: 10px;
  background-color: white;
}

.logo{
  width: 20px;
  vertical-align: top;
}

.titolo-logo h2{
  width: 80%;
  display: inline-block;
  font-style:oblique;
  color: #504741;
}
.menusinistra{
  list-style: none;
}

.menusinistra li{
  margin: 15px 0px;
  color: green;
}
/* fine css aside sinistra */

/* parte centrale corpo css */
.corpocentrale{
  width: calc(50% - 10%);
  margin: 0 10%;
  background-color: white;
  padding: 5px;
}

.corpocentrale h1{
  margin-bottom: 30px;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0,0,0,0.13);
  color: #504741;
}

section.corpocentrale p{
  line-height: 35px;
}
/* fine parte centrale corpo css */

/* css aside destra */
.destra{
  width: 20%;
}

.box{
  width: 100%;
  margin-bottom: 20px;
  border: 3px solid black;
  background-color: white;
  text-align: center;
}

.box h2{
  margin-top: 20px;
  margin-bottom: 39px;
  color: #504741;
}
/* fine css aside destra */

/* css footer  */
footer{
  width: 100%;
  float: left;
  background-color: white;
}

/* css footer parte superiore */
.copy{
  text-align: center;
  color: rgb(45, 41, 37);
  font-style: italic;
}
 /* css footer parte inferiore */
.dimensioni{
  width: calc(100% / 3);
}

.collegamento{
  width: 15%;
  margin-left: 50%;
  transform: translate(-50%);
}
/* fine css footer */
